[Desktop Entry]
Name=Plank
Comment=Simple, clean, and fast dock
Exec=plank
Icon=plank
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
Hidden=false
